/* Default styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4cccc;
    padding: 20px;
    text-align: center; /* Center align the content */
}

header img {
    max-width: 100%; /* Make sure the image is responsive */
    height: auto;
    margin-bottom: 10px; /* Add some space below the image */
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

section {
    padding: 20px;
}

footer {
    background-color: #f4cccc;
    padding: 10px;
    text-align: center;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    header {
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        padding: 10px;
    }

    header img {
        margin-bottom: 5px; /* Adjust space below the image for smaller screens */
    }
}
